body {
  font-family: Roboto, sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  background-color: #d4d4d442;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.burger {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.basic,
.pro,
.advanced {
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.22);
  border: 2px solid #eee;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  background-color: white;
}

#content {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #eee;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: inset;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.22);
}

.logo {
  margin-bottom: 120px;
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #003b5c,
    #005f7a,
    #00858e,
    #37ab99
  );
  position: relative;
  height: 100vh;
}

.logo > img {
  width: 50%;
  margin-top: 40px;
}

.logo > h1 {
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#time {
  color: white;
  font-size: 4rem;
}

.links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.advanced,
.pro,
.basic {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#secret {
  display: none;
}

code {
  background-color: #F0F0F0;
  border-radius: 0.3rem;
  padding: 4px 5px 5px;
  white-space: nowrap;
}

pre code {
  white-space: inherit;
}

pre {
  padding: 5px;
  border-radius: 0.3em;
  color: red;
  overflow-y: auto;
}

.carlos-comic {
  display: flex;
  position: absolute;
  bottom: 0;
}

.felipe-comic {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}

.speech-bubble {
  position: relative;
  background: #fff;
  border-radius: 0.4em;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

button {
  background-color: white;
  border: 3px solid #4caf50;
  color: #4caf50;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 1s ease;
  cursor: pointer;
  box-shadow: 10px 10px rgba(77, 77, 77, 0.5);
}

#javi {
  width: 100%;
}

.javi-comic {
  margin-top: 40px;
}

.javi-comic .speech-bubble {
  width: 60%;
  margin: 0 auto;
}

.pill-animation {
  position: relative;
}

#inner-orbit {
  margin: 0 auto;
  margin-top: 75px;
  width: 100%;
  height: 150px;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
  position: absolute;
  top: 0;
}

.inner-orbit-pill {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-image: url("./assets/ibuprofeno.png");
}

.speech-bubble-felipe {
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  margin-top: 50px;
}

.speech-bubble-felipe:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

main {
  width: 100%;
  transition: 0.5s;
}

.fixed {
  position: fixed;
  height: 100%;
  top: 0;
  box-shadow: 1px 1px 7px 3px #21212170;
  background-image: linear-gradient(
    to right bottom,
    #37ab99,
    #00858e,
    #005f7a,
    #003b5c,
    #051937
  );
}

.fixed #time {
  margin-top: 40px;
}

.pills-sections {
  height: 100vh;
  position: relative;
}

body th,
body td {
  padding: 20px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #c6cbd1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
