body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

a {
  cursor: pointer;
}

.burger {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  right: 0;
}

.logo {
  padding: 50px 0 10px;
  margin-bottom: 120px;
  text-align: center;
  background: #00ab99;
  position: relative;
}

.logo > img {
  width: 50%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #565656;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#time {
  color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#frame {
  margin: 60px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
