:root {
  --bg: #f6f6f6;
  --textNormal: #222;
  --greyText: #505050;
  --textTitle: #222;
  --textLink: rgb(69, 69, 202);
  --hr: hsla(0, 0%, 0%, 0.2);
  --card-back-color: white;
  --card-fore-color: #000;
  --card-shadow-color: #efefef;
  --nav-bar-back-color: white;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #121212;
  --textNormal: rgba(255, 255, 255, 0.88);
  --greyText: #858585;
  --textTitle: white;
  --textLink: #40AD77;
  --hr: hsla(0, 0%, 100%, 0.2);
  --code-color: #fff;
  --card-shadow-color: #efefef;
  --nav-bar-back-color: #1e1e1e;
  --card-back-color: #252525;
  --card-shadow-color: #3a3a3a;
  --card-fore-color: #fff;
}
