.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-bar-back-color);
  line-height: 0;
  box-sizing: border-box;
  z-index: 1001;
  height: 120px;
  padding-left: calc((100% - 882px) / 2);
  padding-right: calc((100% - 866px) / 2);
  border-bottom: 1px solid var(--card-shadow-color);
  justify-content: space-between;

  .logo {
    width: 13.3333333333rem;
    height: 5.3333333333rem;
    max-width: 100%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }

  .st0 {
    fill: var(--textNormal);
  }
}
