body {
  background-color: var(--bg);
  transition: 0.5s;
}

body.dark td,
th {
  color: white;
  border: 1px solid white;
}

h1,
h2,
h3,
a,
small,
footer,
header,
ul,
ol,
em {
  color: var(--textNormal);
}

a {
  text-decoration: none;
}
